assets/*
!assets/.gitignore
app/runtime/*
!app/runtime/.gitignore

app/uploads/avatars/*
!app/uploads/avatars/.gitignore

app/uploads/tmp/*
!app/uploads/tmp/.gitignore

app/uploads/tmp/avatars/*
!app/uploads/tmp/avatars/.gitignore
